/* Color */
$color-white-1: #fff;
$color-red-1: #ff2020;
$color-gray-1: #333;
$color-gray-2: #474747;
$color-gray-3: #7e7e7e;
$color-gray-4: #d3d1d1;
$color-black-1: #000;
$color-black-2: #141517;

/* Font size */
$font-size-large: 48px;
$font-size-medium: 20px;
$font-size-small: 16px;
$font-size-p: 17px;

/* Font weight */
$font-weight-1: 300;
$font-weight-2: 400;
$font-weight-3: 600;
$font-weight-4: 700;

/* Transition */
$transition-1: all 0.5s;

/* Reponsive */
$lg: 992px;
$md: 768px;
$sm: 576px;